[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-single-quote-left:before {
  content: "\e903";
}
.icon-arrow-up-right:before {
  content: "\e904";
}
.icon-angle-down:before {
  content: "\e905";
}
.icon-angle-right:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-location-arrow:before {
  content: "\e909";
}
.icon-phone-volume:before {
  content: "\e90a";
}
.icon-user1:before {
  content: "\e90b";
}
.icon-user2:before {
  content: "\e90c";
}
.icon-user3:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-whatsapp:before {
  content: "\ea93";
}